# Tutorial          
# http://www.raywenderlich.com/109330/carthage-tutorial-getting-started

# Edit File       : open -a Xcode Cartfile
# Update (iPhone) : carthage update --platform iOS
# Open compiled   : open Carthage

# brew update
# brew install carthage
# brew update carthage

####################################################################

## Swift 5.0.1
##    github "ReactiveX/RxSwift" "5.0.1"


####################################################################
####################################################################
####################################################################

# Drag from "/Carthage/Build/iOS/Alamofire.framework" to "General/Linked Frameworks and Librarys"

# $(SRCROOT)/Carthage/Build/iOS/Alamofire.framework
# $(SRCROOT)/Carthage/Build/iOS/SwiftyJSON.framework

